main.login {
    justify-content: center;
}

.outer_box {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 40%;
    max-width: 35rem;
    gap: 1.5rem;
    background: var(--transparent);
    padding: 1rem;
    border-radius: 1rem;
    width: 60%;
    max-width: 50rem;
}

.outer_box .box_title {
    font-size: 3rem;
    text-decoration: underline;
}

.outer_box .inner_box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--bg);
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.inner_box .extra_links {
    margin-left: auto;
    padding: 0;
}

.extra_links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
}

.extra_links a {
    color: var(--link);
    text-decoration: underline;
}


@media screen and (max-width:900px) {
    .outer_box {
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .outer_box {
        width: 80%;
    }

}

@media screen and (max-width:450px) {
    .outer_box {
        width: 100%;
    }

    .extra_links {
        flex-direction: column;
    }
}