section.dashboard {
    display: flex;
    gap: 1rem;
}

.dashboard_section {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    width: 100%;
    padding: 1rem;
    gap: 1.5rem;

    &.loader {
        display: grid;
        place-items: center;
        font-size: 2rem;
    }


    .dashboard_card_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
        justify-items: center;
    }


    .semester_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;

        .semester_links {
            padding: 2rem 1rem;
            border-radius: 1rem;
            display: grid;
            place-items: center;
            font-size: 1.6rem;
            transition: .3s ease-in-out;
            border: .5px solid var(--transparent);
            font-weight: 500;
            min-height: 10rem;

            &:hover {
                box-shadow: 0 1rem 2rem -.5rem var(--shadow);
                transform: scale(1.01);

                .data_actions {
                    opacity: 1;
                }
            }
        }
    }
}