section.dashboard {
    display: flex;
    gap: 1rem;
}

.dashboard_section {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    &.loader {
        display: grid;
        place-items: center;
        font-size: 2rem;
    }

    &>.section_heading {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: .5rem 1rem;

        .back_btn {
            cursor: pointer;
            padding: .5rem;
            border-radius: .5rem;

            &:hover {
                background: var(--transparent);
            }
        }

        h2 {
            font-size: 1.8rem;
            font-weight: 600;
            text-decoration: underline;
            text-decoration-style: double;
        }
    }

    .form_container {
        display: flex;
        flex-direction: column;

        .form_toggle_btn {
            display: grid;
            align-items: center;
            grid-template-columns: 3fr 1fr;
            gap: 30%;
        }

        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: .3s ease-in-out;

            &.row {
                display: flex;
                flex-direction: column;
            }

            &.active {
                opacity: 1;
                height: auto;
                gap: 1rem;
                overflow: visible;
                margin-top: 1rem;
            }

            .form_input_section {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .form_heading {
                    opacity: .8;
                    font-size: 1.5rem;
                }

                .form_body {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

            }

            .form_submit_btn {
                grid-column: 1 / -1;
            }
        }
    }

    .data_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .message_container {
            background: var(--transparent);
            padding: 1rem;
            border-radius: 1rem;
            display: flex;
            gap: 1rem;

            .spin {
                animation: spin 3s linear infinite;
            }

            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }

            }

            .message {
                font-size: 1.5rem;
            }
        }

        .data {
            display: flex;
            width: 100%;
            height: auto;
            font-size: 1.5rem;
            align-items: center;
            gap: 2rem;
            border-bottom: 5px solid var(--transparent-light);
            padding: 1rem;
            transition: .3s ease-in-out;
            border-radius: 1rem;

            &:hover {
                box-shadow: 0 1rem 2rem -.5rem var(--shadow);

                .data_actions {
                    opacity: 1;
                }
            }

            .data_id {
                font-weight: 800;
                opacity: .4;
                letter-spacing: .1rem;
            }

            .data_name {
                font-weight: 600;
                line-height: 1.8rem;
                text-transform: capitalize;
            }

            .data_email {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 100%;
                opacity: .8;
            }

            .data_department {
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1rem;
                padding: .5rem 1.6rem;
                border-radius: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--black);

                &.civil {
                    background: #e7c27e;
                }

                &.mech {
                    background: #b18bf9;
                }

                &.cse {
                    background: #f9ac60;
                }

                &.eee {
                    background: #7099fa;
                }

                &.ca {
                    background: #f49874;
                }

                &.ai {
                    background: #f1669c;
                }

                &.na {
                    background: var(--error);
                }
            }

            .data_actions {
                margin-left: auto;
                display: flex;
                gap: 1rem;
                opacity: 0;
                transition: .3s ease-in-out;

                .edit_btn {
                    background: linear-gradient(to right, #82a4fb, #83cef4);
                    scale: .9;
                }

                .delete_btn {
                    background: linear-gradient(to right, #fb828a, #f49d83);
                    scale: .9;
                }
            }
        }
    }
}