.landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.title_text {
    font-size: 5rem;
}

.gradient_text {
    background: linear-gradient(to right, var(--gradient1), var(--gradient2));
    background-clip: text;
    -webkit-backgroud-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    font-weight: 800;
}

.error_page {
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.8rem;
        color: var(--danger);
    }

    button {
        width: 30rem;
    }
}



.not_found {
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        font-size: 3rem;
        display: flex;
        gap: 1rem;
        color: var(--danger);

        span {
            &:first-child {

                color: var(--text);
            }

            &:last-child {
                color: var(--danger);

            }
        }

    }
}