.landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.title_text {
    font-size: 5rem;
}

.gradient_text {
    background: linear-gradient(to right, var(--gradient1), var(--gradient2));
    background-clip: text;
    -webkit-backgroud-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    font-weight: 800;
}