.input_box {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;

    input,
    select {
        width: 100%;
        height: 4rem;
        border-radius: .5rem;
        border: none;
        padding: .5rem 1rem;
        font-weight: 400;
        font-family: inherit;
        background: var(--transparent);
        color: var(--text);
        border: 1px solid var(--transparent-invert);

        &:disabled {
            opacity: .5;
        }
    }

    input {
        &:focus~label {
            opacity: 1;

        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        &[type=number] {
            appearance: textfield;
            -moz-appearance: textfield;
        }

        &[type=password]::-ms-reveal,
        &[type=password]::-ms-clear {
            display: none;
        }
    }

    select {
        appearance: none;
    }

    label {
        transition: .3s ease-in-out;
        font-size: 1.2rem;
        opacity: .7;
        margin-left: .5rem;
        font-weight: 500;
        font-family: inherit;
    }

    .custom_selectbox {
        position: relative;

        .select_input {
            padding-right: 5rem;
        }

        .dropdown_icon {
            position: absolute;
            top: 2px;
            right: 2px;
            width: calc(4rem - 4px);
            height: calc(4rem - 4px);
            border-radius: .5rem;
            transition: .3s ease-in-out;
            cursor: pointer;
            z-index: 1;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                background: var(--transparent);
            }
        }


        input:disabled:hover+.dropdown_icon {
            background: none;
        }

        .option_box {
            position: absolute;
            background: var(--transparent);
            backdrop-filter: blur(10px);
            width: 100%;
            z-index: 2;
            top: 4.5rem;
            border: 1px solid var(--transparent-invert);
            border-radius: .5rem;
            opacity: 0;
            transition: .3s ease-in-out;
            pointer-events: none;
            max-height: 20rem;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: .7rem;
            }

            &::-webkit-scrollbar-track {
                border-radius: 1rem;
                background: var(--transparent);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background: var(--bg);
            }

            &.active {
                opacity: 1;
                pointer-events: all;
                box-shadow: 0 .5rem 1rem var(--shadow);
            }

            .options {
                padding: 1rem;
                transition: .3s ease-in-out;
                font-size: 1.4rem;
                border-bottom: 1px solid var(--transparent-invert);
                text-transform: capitalize;

                &:hover {
                    background: var(--transparent-invert);
                    cursor: pointer;
                }

                .code {
                    background: linear-gradient(to right, var(--gradient1), var(--gradient2));
                    background-clip: text;
                    -webkit-backgroud-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 600;
                }
            }
        }
    }





}


.icon {
    position: relative;

    input {
        padding-right: 5rem;
    }

    .eye_icon {
        position: absolute;
        right: 1px;
        transform: translateY(-1px);
        width: calc(4rem - 2px);
        height: calc(4rem - 2px);
        border-radius: .5rem;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background: var(--transparent);
        }

        .icons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}