.dashboard_header {
    display: flex;
    flex-direction: column;
    background: var(--transparent);
    height: fit-content;
    padding: 1rem;
    border-radius: .5rem;
    height: 6rem;
    overflow: hidden;
}

.dashboard_header .row {
    align-items: center;
    justify-content: space-between;
}

.row .toggle_icon {
    cursor: pointer;
}

.form_wrapper {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    height: auto;
    height: calc(100vh - 7rem);
    background: var(--transparent);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.form_wrapper.active {
    opacity: 1;
    pointer-events: all;
}

.form_wrapper .subject_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}